<div class="text-center">
    <h1 class="display-4">David @ViewBag.Apellido</h1>
    <p>Web developer specialized in .Net and Js</p>
    <img class="profile-pic" src="~/Media/Img/David.jpg"/> 
</div>
<div class="background">
    <div class="net-logo-container">
    <img src="~/Media/Img/tdotNET.png" class="net-logo"/>
    </div>
    <div class="welcome">
    <h1>Welcome to my portfolio!</h1>
    <p>Here you'll find all my projects related to .Net</p>
    </div>
</div>