<div class="skills-container">
<div class="row justify-content-md-center text-center back-front-container">
    <div class="col col-3 bg-white skills sk1">
        <i class="bi-server portfolio-item"></i>
        <h3>Back-end</h3>

        <p class="text-primary header">
            Stack:
        </p>

        <p>ASP.NET Core, SQL Server</p>

        <p class="text-primary header">
            Experience:
        </p>
        <ul>
            <li>Web APIs</li>
            <li>ASP.NET Core MVC</li>
            <li>Entity Framework Core</li>
            <li>Blazor</li>
            <li>Special Queries</li>
            <li>Stored Procedures</li>
        </ul>
    </div>
    <div class="col col-3 bg-white skills sk2">
        <i class="bi-code portfolio-item"></i>
        <h3>Frond-end</h3>
        <p class="text-primary header">
            Stack:
        </p>

        <p>Vanilla Javascript</p>

        <p class="text-primary header">
            Experience:
        </p>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>SASS</li>
            <li>Javascript</li>
            <li>React</li>
            <li>Razor</li>
        </ul>
    </div>
    </div>
</div>
